doctype html
html(lang='ja')
    head
        meta(charset="utf-8")
        meta(
            http-equiv="X-UA-Compatible"
            content="IE=edge"
        )
        meta(
            name="viewport"
            content="width=device-width, initial-scale=1.0, minimum-scale=1.0"
        )
        title タイトル2
        link(href="assets/mdl/style.css", rel="stylesheet")
        link(href="assets/mdl/icon.css", rel="stylesheet")
        link(href="assets/mdl/material.min.css", rel="stylesheet")
        link(href="styles.css", rel="stylesheet")
            
    body
        .demo-layout.mdl-layout.mdl-js-layout.mdl-layout--fixed-drawer.mdl-layout--fixed-header
            header.demo-header.mdl-layout__header.mdl-color--grey-100.mdl-color-text--grey-600
                .mdl-layout__header-row
                  span.mdl-layout-title Home
            .demo-drawer.mdl-layout__drawer.mdl-color--blue-grey-900.mdl-color-text--blue-grey-50
                header.demo-drawer-header
                    img.demo-avatar(
                    src="CB.jpg"
                    )
                    .demo-avatar-dropdown
                        span Quanta Console
                nav.demo-navigation.mdl-navigation.mdl-color--blue-grey-800
                    a.mdl-navigation__link(
                        href="#home"
                    ) 
                        i.mdl-color-text--blue-grey-400.material-icons(
                            role="presentation"
                        ) home 
                        span Home
                    a.mdl-navigation__link(
                        href="#home2"
                    ) 
                        i.mdl-color-text--blue-grey-400.material-icons(
                            role="presentation"
                        ) home 
                        span Home2
                    
            main
        script(src="assets/mdl/material.min.js")
        script(src="assets/socket.io.js")
        script(src="assets/riot.min.js")
        script(src="assets/riot+compiler.min.js")
        script(src="assets/route.min.js")
        script(
            src="tags/home.tag"
            type="riot/tag"
        )
        script(
            src="tags/home2.tag"
            type="riot/tag"
        )
        script(src="js/index.js")
